node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

/ignition/deployments

#foundry
/out
/cache_forge

._.DS_Store
.DS_Store
/contracts/._.DS_Store
